body {
    /* background-color: rgb(255, 255, 255) !important; */
}

h1, h2, h3, h4, h5, h6 {
    color: rgb(18, 18, 19);
    font-family: SansPro;
    text-align: center;
}

.my-navbar h1 {
    background-color: rgb(74, 81, 182) !important;
}



.cardContainer {
    background-color: black!important; 
    margin: 0% !important;
    padding: 10px;
    align-items: center;
    justify-items: center;
    margin-top: 0%;
}

.card-text {
    font-size: 1.5em;
}

.card-body {
    /* background-color: rgb(128, 136, 238) !important; */
    /* margin: 0% !important; */
    /* margin-top: 30%; */
    /* align-items: center;
    justify-items: center; */
}

.card-body-nest-twitter img {
    margin-top: 12px;
}

.card-body-nest img {
    max-width: 80px;
}

.card-body-nest h5 {
    font-weight: bolder;
}

.padding-0{
    padding-right:0;
    padding-left:0;
}

.main-about-card h5 {
    font-size: 2.5em;
    font-weight:bolder;
}

.main-work-card h5 {
    font-size: 2.5em;
    font-weight:bolder;
}

.main-contact-card h5 {
    font-size: 2.5em;
    font-weight:bolder;
}

/* .card-body h5 {
    margin: 0% !important;
    margin-top: 30%;
    align-items: center;
    justify-items: center;
    text-align: center;
    font-weight: bolder;
} */

.right-background {
    background-image: url(/assets/pexels-thisisengineering-3861972.jpg);
    background-position-y: 62%;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content:center;
    height: 500px;
}

/* .card {
    /* margin: 5% auto;
    align-items: center;
    justify-items: center; */
/* } */ 

.navbar-nav {
    margin-left: auto !important;
    margin-right: 0 !important;
}

.card-container {
    align-items: center;
    text-align: center;
}

.navbar img {
    margin-left: auto !important;
    margin-right: 0 !important;
    max-width: 10% !important;
}

.jumbotron {
   height: calc(100vh - 170px); 
   background-image: url("/assets/AknNoBckg.png");
   background-position-y: 65%;
   background-repeat: no-repeat;
   background-size: cover;
   display: flex;
   align-items: center;
   justify-content:center;
   margin-bottom: 0%;
}

.jumbotron h1 {
    font-size: 900%;
}

.jumbotron p {
    font-size: 300%;
    font-weight: 320;
}

/* :hover :focuse remember to add these classes to the navbar */

.sign-up form {
    margin: 30px auto !important;
    align-items: center !important;
    background-color: rgb(112, 120, 231) !important;
    padding: 25px;
    border-radius: 10px;
}

@font-face {
    font-family: SansPro;
    src: url("/assets/Source_Sans_Pro/SourceSansPro-Regular.ttf");
  }
  
  div {
    font-family: SansPro;
  }

  .card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: none;
    background-clip: border-box;
    border: 5px solid rgba(0,0,0,.125);
    border-radius: 0.25rem;
}
